In [1]:
import numpy as np
import pandas as pd
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [2]:
dates = pd.date_range('20190101',periods=6)
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2019-01-01  1.107656  0.915809 -0.184408 -0.317617
2019-01-02 -0.760998  0.110140 -1.406992 -0.430301
2019-01-03 -0.493568  0.611598 -0.149030  0.212389
2019-01-04  1.418031  1.010258  0.446002  0.991972
2019-01-05 -0.316527  1.789683 -1.924230 -0.437339
2019-01-06  0.603124 -0.981076 -0.857155 -1.427457

In [6]:
df2 = pd.DataFrame({'A': 1.,
      'B': pd.Timestamp('20190102'),
      'C': pd.Series(1, index=list(range(4)), dtype='float32'),
      'D': np.array([3] * 4, dtype='int32'),
      'E': pd.Categorical(["test", "train", "test", "train"]),
      'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2019-01-02  1.0  3   test  foo
1  1.0 2019-01-02  1.0  3  train  foo
2  1.0 2019-01-02  1.0  3   test  foo
3  1.0 2019-01-02  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [10]:
df.head()

                   A         B         C         D
2019-01-01  1.107656  0.915809 -0.184408 -0.317617
2019-01-02 -0.760998  0.110140 -1.406992 -0.430301
2019-01-03 -0.493568  0.611598 -0.149030  0.212389
2019-01-04  1.418031  1.010258  0.446002  0.991972
2019-01-05 -0.316527  1.789683 -1.924230 -0.437339

In [11]:
df.tail(2)

                   A         B         C         D
2019-01-05 -0.316527  1.789683 -1.924230 -0.437339
2019-01-06  0.603124 -0.981076 -0.857155 -1.427457

In [14]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.259620  0.576069 -0.679302 -0.234726
std    0.907742  0.940197  0.883564  0.801683
min   -0.760998 -0.981076 -1.924230 -1.427457
25%   -0.449307  0.235504 -1.269533 -0.435580
50%    0.143298  0.763703 -0.520782 -0.373959
75%    0.981523  0.986646 -0.157874  0.079888
max    1.418031  1.789683  0.446002  0.991972

In [21]:
df.T

   2019-01-01  2019-01-02  2019-01-03  2019-01-04  2019-01-05  2019-01-06
A    1.107656   -0.760998   -0.493568    1.418031   -0.316527    0.603124
B    0.915809    0.110140    0.611598    1.010258    1.789683   -0.981076
C   -0.184408   -1.406992   -0.149030    0.446002   -1.924230   -0.857155
D   -0.317617   -0.430301    0.212389    0.991972   -0.437339   -1.427457

In [23]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2019-01-01 -0.317617 -0.184408  0.915809  1.107656
2019-01-02 -0.430301 -1.406992  0.110140 -0.760998
2019-01-03  0.212389 -0.149030  0.611598 -0.493568
2019-01-04  0.991972  0.446002  1.010258  1.418031
2019-01-05 -0.437339 -1.924230  1.789683 -0.316527
2019-01-06 -1.427457 -0.857155 -0.981076  0.603124

In [25]:
df.sort_values(by='B')

                   A         B         C         D
2019-01-06  0.603124 -0.981076 -0.857155 -1.427457
2019-01-02 -0.760998  0.110140 -1.406992 -0.430301
2019-01-03 -0.493568  0.611598 -0.149030  0.212389
2019-01-01  1.107656  0.915809 -0.184408 -0.317617
2019-01-04  1.418031  1.010258  0.446002  0.991972
2019-01-05 -0.316527  1.789683 -1.924230 -0.437339

In [27]:
df.iloc[1:3, :]

                   A         B         C         D
2019-01-02 -0.760998  0.110140 -1.406992 -0.430301
2019-01-03 -0.493568  0.611598 -0.149030  0.212389

In [28]:
df.iloc[:, 1:3]

                   B         C
2019-01-01  0.915809 -0.184408
2019-01-02  0.110140 -1.406992
2019-01-03  0.611598 -0.149030
2019-01-04  1.010258  0.446002
2019-01-05  1.789683 -1.924230
2019-01-06 -0.981076 -0.857155

In [29]:
df.iloc[1, 1]

0.11013976365693386

In [30]:
#等价前面方法
df.iat[1, 1]

0.11013976365693386

In [32]:
df[df.A > 0]

                   A         B         C         D
2019-01-01  1.107656  0.915809 -0.184408 -0.317617
2019-01-04  1.418031  1.010258  0.446002  0.991972
2019-01-06  0.603124 -0.981076 -0.857155 -1.427457

In [33]:
df[df > 0]

                   A         B         C         D
2019-01-01  1.107656  0.915809       NaN       NaN
2019-01-02       NaN  0.110140       NaN       NaN
2019-01-03       NaN  0.611598       NaN  0.212389
2019-01-04  1.418031  1.010258  0.446002  0.991972
2019-01-05       NaN  1.789683       NaN       NaN
2019-01-06  0.603124       NaN       NaN       NaN

In [36]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
print(df2)
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D      E
2019-01-01  1.107656  0.915809 -0.184408 -0.317617    one
2019-01-02 -0.760998  0.110140 -1.406992 -0.430301    one
2019-01-03 -0.493568  0.611598 -0.149030  0.212389    two
2019-01-04  1.418031  1.010258  0.446002  0.991972  three
2019-01-05 -0.316527  1.789683 -1.924230 -0.437339   four
2019-01-06  0.603124 -0.981076 -0.857155 -1.427457  three

                   A         B        C         D     E
2019-01-03 -0.493568  0.611598 -0.14903  0.212389   two
2019-01-05 -0.316527  1.789683 -1.92423 -0.437339  four